redis==4.4.2
elasticsearch[async]==7.9.1
fastapi==0.104.0
orjson==3.9.9
pydantic==2.4.2
pydantic-settings==2.0.3
uvicorn==0.12.2
uvloop==0.17.0 ; sys_platform != "win32" and implementation_name == "cpython"
python-dotenv==1.0.0
gunicorn==21.2.0
httptools==0.6.1